HORDE_AUTH_DB_HOST=mysql-17497876-horde.i.aivencloud.com
HORDE_AUTH_DB_PORT=13453
HORDE_AUTH_DB_NAME=defaultdb
HORDE_AUTH_DB_USER=Horde_auth
HORDE_AUTH_DB_PASSWORD=PUT_PASSWORD_HERE
HORDE_AUTH_DB_SSL_CA=ca.pem
HORDE_AUTH_DB_SSL_CA_TEXT=PASTE_AIVEN_CA_CERTIFICATE_HERE

HORDE_AUTH_SERVER_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
HORDE_AUTH_CORS_ORIGINS=https://hordeminecraft.ru,http://localhost:5173
HORDE_AUTH_SESSION_DAYS=30

# Optional: password reset emails
HORDE_AUTH_SMTP_HOST=
HORDE_AUTH_SMTP_PORT=587
HORDE_AUTH_SMTP_USER=
HORDE_AUTH_SMTP_PASSWORD=
HORDE_AUTH_SMTP_FROM=
HORDE_AUTH_SMTP_TLS=true
